# This file is a Jinja2 template for generating configuration files dynamically based on variables.

[DEFAULT]
host = {{ host }}
port = {{ port }}
username = {{ username }}
password = {{ password }}

[settings]
option1 = {{ option1 }}
option2 = {{ option2 }}